<h2>Edit Wonder</h2>
<form action="/places/<%= @place.name %>/update"> 
  Name: <input name="name" type="text" value="<%= @place.name %>"><br>
  Wonder Category:
  <input list="w_types" name="type" value="<%= @place.w_type %>">
  <datalist id="w_types">
    <option value="Ancient">
    <option value="Natural">
    <option value="Underwater">
    <option value="Industrial">
  </datalist><br>
  Picture URL: <input name="url" type="url" value="<%= @place.url %>"><br>
  Admission Price: <input name="price" type="text" value="<%= @place.admis_price %>"><br>
  Description:<br>
  <textarea name="description"rows="10" cols="50"><%= @place.description %></textarea><br>
  <input type="submit">
</form>
