<div class="place">
  <%= link_to "[edit]", "#{@place.name}/edit" %>
  <%= image_tag @place.url%>
  <h2> <%= @place.name %> </h2>
  <h4> (The <%= @place.w_type %> World) </h4> 
  <p> <%= @place.description %></p>
  <h3> Admission: <%= @place.admis_price %> </h3>

</div>
